.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 70%;
}

.card {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: 0.2rem;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

.winner {
  font-family: "Balsamiq Sans", cursive;
}

.title {
  text-align: center;
  margin-top: 100px;
}
